.headerText {
  text-align: center;
  font-size: 5vw !important;
}

.subHeaderText {
  text-align: center;
}

.search-bar {
  width: 80%;
  margin: 0 auto;
}

.syncButton {
  display: block !important;
  margin: 0 auto !important;
  background: none !important;
}

.fiveImages {
  margin-top: 30vh !important;
}
